/* Created.css */
.toolSelect {
  background-color: gray;
}
.drawPad {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: lightskyblue;
}

.uploads {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

input {
  font-size: 20px;
  line-height: 1.5em;
  padding: 15px;
  font-family: Calibri, sans-serif;
  min-height: 64px;
}
