.createdImagesPage {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
 
.card {
    width: 80%;
    background-color: lightskyblue;
} 
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
